html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
}

html * {
  border: 4px solid lightSeaGreen;
}

.header {
  min-width: 100%;
  height: 100px;
  background-color: lightPink;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.content {
  margin-bottom: 30px;
}

.content-big {
  height: 400px;
  background-color: lightSkyBlue;
}

.content-small {
  height: 200px;
  background-color: lightSalmon;
}

/* TABLET RULES */

/*landscape*/

@media screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .content-big {
    background-color: lightCoral;
  }
}

/*portrait*/

@media screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
}

/* MOBILE RULES */

@media screen and (max-width: 600px) {
  .container {
    width: 400px;
    padding: 0;
  }
}
