/*SETTING UP THE GENERAL OUTLINE FOR THE SITE'S LARGER STRUCTURE*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  border: 3px solid lightSeaGreen;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 1300px; /* this value is ok... using px values to set container widths is accepte practice*/
}

/* WRITING RULES THAT NEED TO BE APPLIED GENERALLY TO USE A SHARED CLASS RATHER THAN WRITING THEM OVER AND OVER */

.text-center {
  text-align: center;
}

/* MOVING ON TO INDIVIDUAL SECTIONS MOVING INTO EACH FROM PARENT TO CHILDREN */

.header {
  background-color: lightPink;
  height: 120px;
}

.header h1 {
  font-size: 110px;
  margin: 0;
}

.content {
  margin-bottom: 30px;
}

.content-big {
  background-color: lightSkyBlue;
  height: 400px;
}

.content-grid {
  display: flex;
  justify-content: space-between;
}

.content-small {
  background-color: lightSalmon;
  height: 400px;
  padding: 0 10px;
  width: 24.5%;
}
